<div class="card mat-card">
    <div class="info-icon">
        <h1>Hard & Soft skills</h1>
        <a href="#" class="btn-right">
            <i id="hard-soft-lapiz" class="fa-solid fa-plus"></i>
        </a>
    </div>
    <ul>
        <li>
            <div class="info-exp-edu">
                <div>
                    <h3>Resoulción de problemas</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
                </div>
                <div class="icon-add-del">
                    <div>
                        <a href="#" class="btn-right">
                            <i id="lapiz-exp" class="fa fa-pen" style="color: black; z-index: 1;"></i>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="btn-right">
                            <i id="lapiz-exp-li" class="fa-solid fa-trash" style="z-index: 2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="info-exp-edu">
                <div>
                    <h3>Diseño de sistemas</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
                </div>
                <div class="icon-add-del">
                    <div>
                        <a href="#" class="btn-right">
                            <i id="lapiz-exp" class="fa fa-pen" style="color: black; z-index: 1;"></i>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="btn-right">
                            <i id="lapiz-exp-li" class="fa-solid fa-trash" style="z-index: 2"></i>
                        </a>
                    </div>
                    
                </div>
            </div>
        </li>
    </ul>
</div>