<div class="card mat-card">
    <div class="info-icon">
        <h1>Proyectos</h1>
        <a href="#" class="btn-right">
            <i id="hard-soft-lapiz" class="fa-solid fa-plus"></i>
        </a>
    </div>
    <div>
        <ul>
            <li >
                <div class="info-exp-edu">
                    <div>
                        <h2>{{proyects?.nombre}}</h2>
                        <p>{{proyects?.detalles}}</p>
                    </div>
                    <div class="icon-add-del">
                        <div>
                            <a href="#" class="btn-right">
                                <i id="lapiz-exp" class="fa fa-pen" style="color: black; z-index: 1;"></i>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="btn-right">
                                <i id="lapiz-exp-li" class="fa-solid fa-trash" style="z-index: 2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>