<div class="card mat-card" id="first-card">
    <div id="atras-img"><img src="https://static.vecteezy.com/system/resources/previews/001/849/553/original/modern-gold-background-free-vector.jpg"></div>
    <div id="info" style="padding: 16px">
        <div id="info img">
            <img class="profile-image" src="https://scontent.fcor2-1.fna.fbcdn.net/v/t39.30808-6/271544165_10223561690261841_3783471209112090162_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_ohc=1uhXoMQx27wAX_MWSvn&_nc_ht=scontent.fcor2-1.fna&oh=00_AT_PdljuxRT4q_IswAkrOPkaWtGZof0PhNYlQo3FV8DgaQ&oe=62D17B78">
            <div id="btn-profile"><a href="#"><i id="lapiz-profile" class="fa fa-pen" style="padding-left: 10px;"></i></a></div>
            <div id="info-basica">
                <h1>Jeremias Peralta</h1>
                <div id="puesto">
                    <h4 class="subtitulo">Desarrollador Full Stack Jr</h4>
                </div>
                <div>
                    <span>Ciudad - Provincia - Argentina</span>
                    <span><a href="#">Informacion de Contacto</a></span>
                </div>
            </div>
        </div>
        <ul id="info-details">
            <li><a href="#">
                <div id="li-info1">
                    <img class="li-imagen" src="https://www.unrc.edu.ar/imgs/top-a-cel.png">
                    <h2 id="texto-lista">Universidad Nacional de Rio Cuarto</h2>
                </div>
            </a></li>
        </ul>  
    </div>
    <div class="btn-edit">
        <button type="button" class="btn btn-primary">Tengo interes en</button>
        <button type="button" class="btn btn-light">Añadir Seccion</button>
        <button type="button" class="btn btn-light">Mas</button>
    </div>
</div> 