<div class="card mat-card">
    <div class="exp-edu-titulo">
        <h1>Experiencia</h1>
        <a href="#" class="btn-right">
            <i id="lapiz-exp" class="fa-solid fa-plus"></i>
        </a>
    </div>
    <div id="experiencia">
        <ul>
            <li id="exp-info1" *ngFor="let experiencia of expList">
                <div class="info-exp-edu">
                    <div>
                        <h2>{{experiencia.position}}</h2>
                        <p style="font-weight:bold">{{experiencia.company}}</p>
                        <p style="font-weight:bold; color:dimgray">
                            <time>{{experiencia.start}}</time> - <time>{{experiencia.end}}</time> ({{experiencia.timeElapsed}})
                        </p>
                        <p style="font-weight:bold; color:dimgray">{{experiencia.place}}</p>
                    </div>
                    <div class="icon-add-del">
                        <div>
                            <a href="#" class="btn-right">
                                <i id="lapiz-exp" class="fa fa-pen" style="color: black; z-index: 1;"></i>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="btn-right">
                                <i id="lapiz-exp-li" class="fa-solid fa-trash" style="z-index: 2"></i>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="exp-edu-titulo">
        <h1>Educacion</h1>
        <a href="#" class="btn-right">
            <i id="lapiz-edu" class="fa-solid fa-plus"></i>
        </a>
    </div>
    <div id="educacion">
        <ul>
            <li id="edu-info1" *ngFor="let educacion of eduList">
                <div class="exp-edu">
                    <div id="info-exp-edu">
                        <h2>{{educacion.school}}</h2>
                        <p style="font-weight:bold">{{educacion.title}} {{educacion.career}}</p>
                        <p style="font-weight:bold; color:dimgray">
                          <time>{{educacion.start}}</time> - <time>{{educacion.end}}</time> 
                        </p>
                    </div>
                    <div class="icon-add-del">
                        <a href="#" class="btn-right">
                            <i id="lapiz-exp-li" class="fa fa-pen"></i>
                        </a>
                        <a href="#" class="btn-right">
                            <i id="lapiz-exp-li" class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>