<div class="card mat-card">
    <div class="exp-edu-titulo">
        <h1>Experiencia</h1>
        <a href="#" class="btn-right">
            <i id="lapiz-exp" class="fa-solid fa-plus"></i>
        </a>
    </div>
    <div id="experiencia">
        <ul>
            <li id="exp-info1">
                <div class="info-exp-edu">
                    <div>
                        <h2>Administrativo</h2>
                        <p style="font-weight:bold">Roberto de Angelo y Asociados S.A - Jornada Completa</p>
                        <p style="font-weight:bold; color:dimgray">(Ene 2021-Feb 2022) - 1 año</p>
                        <p style="font-weight:bold; color:dimgray">Ciudad - Provincia</p>
                    </div>
                    <div class="icon-add-del">
                        <div>
                            <a href="#" class="btn-right">
                                <i id="lapiz-exp" class="fa fa-pen" style="color: black; z-index: 1;"></i>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="btn-right">
                                <i id="lapiz-exp-li" class="fa-solid fa-trash" style="z-index: 2"></i>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="exp-edu-titulo">
        <h1>Educacion</h1>
        <a href="#" class="btn-right">
            <i id="lapiz-edu" class="fa-solid fa-plus"></i>
        </a>
    </div>
    <div id="educacion">
        <ul>
            <li id="edu-info1">
                <div class="exp-edu">
                    <div id="info-exp-edu">
                        <h2>UNRC</h2>
                        <p style="font-weight:bold">Licenciatura en Cs de la Computacion</p>
                        <p style="font-weight:bold; color:dimgray">Feb 2017 - Jun 2020 (Incompleto)</p>
                    </div>
                    <div class="icon-add-del">
                        <a href="#" class="btn-right">
                            <i id="lapiz-exp-li" class="fa fa-pen"></i>
                        </a>
                        <a href="#" class="btn-right">
                            <i id="lapiz-exp-li" class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </div>
            </li>
            <li id="edu-info1">
                <div class="exp-edu">
                    <div id="info-exp-edu">
                        <h2>Escuela Normal Superior J.J de Urquiza</h2>
                        <p style="font-weight:bold">Bachiller en Ciencias Sociales</p>
                        <p style="font-weight:bold; color:dimgray">2009-2016</p>
                    </div>
                    <div class="icon-add-del">
                        <a href="#" class="btn-right">
                            <i id="lapiz-exp-li" class="fa fa-pen"></i>
                        </a>
                        <a href="#" class="btn-right">
                            <i id="lapiz-exp-li" class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>